* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:#fff;
}

header {
    background-color: rgba(213,142,157);
    color: #fff;
    padding: 1rem 0;
}
nav {
    padding-left: 1050px;
    justify-content: end;
    align-items: end;
    
}
nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
nav :hover {
    color: #333;
}

main {
    padding: 2rem;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form label {
    display: block;
    margin: 1rem 0 0.5rem;
}

form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 0.75rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}
footer {
    text-align: center;
    padding: 1rem;
    background-color: rgba(144, 140, 139);
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}



.footer-col {
    width: 33%;
}

ul li:not(:last-child) {
    margin-bottom: 8px;
}

ul li a {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover {
    color: white;
    padding-left: 2px;
}

.links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover {
    color: #4d4f55;
    background-color: white;
}