* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:#f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    text-decoration: none;
    background-color: rgba(213,142,157);
    position: relative;
    color: #fff;
    size: 100%;
    width: 100%;
}
/*Navbar*/
.navbar {
    display: flex;
    justify-content: space-between; /* Alinea los elementos dejando un espacio en el medio */
    align-items: center; /* Alinea verticalmente al centro si es necesario */
    height: 60px;
    margin: 0 auto;
    width: 100%; /* Para que el nav ocupe todo el ancho de la página */
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 0%;
}
.navbar .links {
    display: flex;
    gap: 2rem;
}
.navbar .boton {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
a:hover {
    color: orange;
}
.logo{
    display: flex;    
}
.logo img{
    height: 50px;
    margin-left: 0px;
    margin-bottom: 10px;
}
/*Responsive*/
@media (max-width: 992px) {
    .navbar .links{
    display: none;
}
.navbar .boton{
    display: block;    
}
}
.saludo,.nosotros {
    margin: 20px; /* Espacio alrededor de la sección */
    padding: 20px; /* Espacio interno */
    background-color: #f8f8f8; /* Color de fondo para diferenciarlas */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}
.container {
    position: relative;
}
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.container:hover .image {
    opacity: 0.3;
}
.container:hover .middle {
    opacity: 1;
}
.text {
    background-color: #af3294;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}
/* Estilos para el encabezado de cada sección */
.saludo h1,.nosotros h2 {
    margin-top: 40px;
    margin-bottom: 15px; /* Espacio debajo del título */
}
.saludo p, .nosotros p {
    margin-bottom: 40px;/* Espacio entre párrafos */
}
main {
    padding: 2rem;
}
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 0.8rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
form label {
    display: block;
    margin: 1rem 0 0.5rem;
}
form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 0.75rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}
.footer {
    padding: 20px 50px;
    margin-top: auto;
    background-color: rgba(144, 140, 139);
    color: #fff;
    position: relative; /* Cambiar de fixed a relative si no quieres que quede fijo */
    width: 100%;
    position: 0;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.redes_sociales{
    list-style: none;
}
.iconos_redes{
    color: #fff;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}
.iconos_redes:hover{
    transform: translateY(-10px);
}
.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
.menu-elem{
    list-style: none;
}
.menu-icon{
    color: #fff;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}
.menu-icon:hover{
    opacity: 1;
}
.text{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}
.condiciones{
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.checkbox{
    width: 20px;
    height: 20px;
    margin-top: 20px;
}
.boton{
    display: none;
}
.img:hover+.boton{
    display: block;
}
.carousel-item p {
    margin-top: 10px;
    font-size: 1rem;
}
.photos{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3,auto);
    justify-items: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
.item1{
    grid-column: 1;
    grid-row: 1/3;
    width: 100px;
    height: 300px;
}
.item2,.item3,.item4{
    grid-column: 2;
    height: 100px;
    width: 200px;
}
.seccion {
    padding: 10px;
}
.sub {
    padding: 0px;
    padding-bottom: 45px;
}
.subdos {
    padding-bottom: 20px;
}